/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	margin-top: 90px;

	/*padding-top: 50px;
 	padding-bottom: 20px;*/
}

.logo img {
	max-height: 55px;
}

.navbar-fixed-top {
	height: 70px;
}

ul {
	list-style: none;
}

#notice_bar {
-webkit-box-shadow: #dfdfdf 0px 2px 3px;
-moz-box-shadow: #dfdfdf 0px 2px 3px;
box-shadow: #dfdfdf 0px 2px 3px;
position: fixed;
-webkit-transform: translateZ(0);
height: 40px;
top: 65px;
width: 100%;
margin-bottom: 25px;
background-color: #f9f9f9;
font-size: 10px;
line-height: 10px;
letter-spacing: 1px;
text-transform: uppercase;
z-index: 100;
-webkit-transition: height 0.15s ease-in;
-moz-transition: height 0.15s ease-in;
-o-transition: height 0.15s ease-in;
transition: height 0.15s ease-in;
overflow: hidden;
}

.main-container {
margin-top: 120px;
}

#notice_bar .container {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
margin: 0 auto;

}

#notice_bar .left_notice {
float: left;
font-size: 16px;
font-weight: 300;
letter-spacing: 2.5px;
text-transform: uppercase;
}
.tk-museo-sans-rounded {
font-family: "museo-sans-rounded",sans-serif;
}

#notice_bar ul.shop-sell>li.header-tab:last-child {
border-right: none;
}

#notice_bar ul.shop-sell>li.header-tab {
margin: 8px 0px;
padding: 2px 15px;
border-right: 1px solid #ccc;
}

#notice_bar ul.shop-sell>li.header-shop {
height: 20px;
}

#notice_bar ul.shop-sell>li {
float: left;
line-height: 20px;
font-size: 14px;
font-family: "AvenirLTStd-Roman","Helvetica Neue",Arial,Helvetica,sans-serif;
}

#notice_bar ul.shop-sell>li.header-tab {
margin: 8px 0px;
padding: 2px 15px;
border-right: 1px solid #ccc;
}

a {
color: inherit;
text-decoration: inherit;
cursor: inherit;
cursor: pointer;
}

#content {
overflow: hidden;
overflow: visible;
width: 960px;
display: block;
padding-bottom: 60px;
position: relative;
margin-top: 20px;
}

.product_info_page_half {
margin-right: 20px;
display: block;
width: 470px;
float: left;
padding-top: 20px;
}

.product_main_image_comments {
float: left;
width: 390px;
}

.product_main_image_container {
text-align: center;
padding: 0 15px;
margin-bottom: 10px;
}

element.style {
position: relative;
overflow: hidden;
}

.product_image {
max-width: 100%;
}

.product_main_image_container .image_container {
display: block; 
}

.product_info_page_half+.product_info_page_half {
margin-right: 0;
}

.product_main_and_tabbed_info {
display: block;
float: left;
}

.product_info_page_half h1 {
color: #28b4ef;
font-size: 24px;
font-weight: 500;
letter-spacing: 2px;
margin-bottom: 0.25em;
}

.tk-museo-sans-rounded {
font-family: "museo-sans-rounded",sans-serif;
}

.item_details {
width: 460px;
float: right;
}


ul.items {
	margin-top: 50px;
	float: left;
	overflow: visible;
	width: 100%;
}

element.style {
	display: list-item;
}

li {
	text-align: -webkit-match-parent;
}

ol, ul {
list-style: none;
}

.tk-museo-sans-rounded {
font-family: "museo-sans-rounded",sans-serif;
}

.item_box {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #eee;
/*background-color: #f8f8f8;*/
border: 1px solid #eee;
float: left;
min-height: 60px;
margin: 0px 7px 14px;
padding: 8px 8px 3px 8px;
position: relative;
width: 226px;
}

.item_box .img_box {
background-position: center center;
background-size: cover;
cursor: pointer;
height: 294px;
overflow: hidden;
position: relative;
}

section {
display: block;
}

section.filter {
margin-top: 40px;
}

div {
display: block;
}


section.filter .facet {
overflow: hidden;
border: 1px solid #ddd;
border-bottom: 0;
background: rgba(255,255,255,0.9);
}

section.filter header {
font-size: 1em;
line-height: 1;
padding: 10px;
border-bottom: 1px solid #ddd;
background-color: #eee;
text-transform: uppercase;
font-weight: bold;
font-size: 0.8em;
color: #4d4d4d;
}

footer {
line-height: 18px;
font-family: "museo-sans-rounded",sans-serif,"Helvetica Neue",Helvetica,Arial;
padding: 0;
clear: both;
background: rgba(0,0,0,0.75);
position: fixed;
-webkit-transform: translateZ(0);
bottom: 0;
left: 0;
margin: 0 auto;
width: 100%;
font-size: 0.9em;
z-index: 9;
}

footer #container {
position: relative;
margin: 0 auto;
width: 965px;
display: block;
height: 40px;
}


footer .copyright {
line-height: 35px;
top: 0;
position: relative;
color: #fff;
color: rgba(255,255,255,0.6);
display: inline-block;
margin-right: 10px;
}


footer nav {
display: inline-block;
line-height: 35px;
position: relative;
}

footer li {
display: inline;
}

footer ul {
list-style-type: none;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

ul.hmenu {
  float: right;
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

/*
.well {
   float: left;

}*/

/*.sidebar-nav {
	float: left;
}

.col-md-3 {
	float: left; important! 
}*/