<h1>Hello, Rails!</h1>
<%= link_to "My Products", controller: "products" %>

<div id="notice_bar">
          <div class="info_container">
            <a href="/products/new"> Sell</a>
          </div>

        </div>
