// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
overflow: hidden;
position: relative;
margin-top: 40px;
overflow: visible;
height: 275px;
}


.profile .user_photo_stats {
float: left;
}

.profile .user_photo {
position: relative;
width: 210px;
height: 210px;
-webkit-box-shadow: #ccc 0px 0px 6px;
-moz-box-shadow: #ccc 0px 0px 6px;
box-shadow: #ccc 0px 0px 6px;
border: 5px solid #fff;
overflow: hidden;
text-align: center;
}

.profile .user_photo .photo_shadow {
position: absolute;
width: 210px;
height: 210px;
-webkit-box-shadow: #ccc 0px 0px 6px inset;
-moz-box-shadow: #ccc 0px 0px 6px inset;
box-shadow: #ccc 0px 0px 6px inset;
}

.profile_image {
	max-width: 100%;
	height: 100%;
	margin: auto;
}

.profile .user_details {
float: left;
margin-left: 50px;
margin-top: 50px;
width: 650px;
}

.profile .user_details .user_header {
margin-top: 60px;
display: inline-block;
width: 100%;
float: left;
}

.profile .user_details .username {
margin-top: 30px; 
font-family: "AvenirLTStd-Medium","Helvetica Neue",Arial,Helvetica,sans-serif;
font-size: 26px;
}

.username {
	margin-top: 50px;
}


.profile span {
margin-right: 15px;
font-style: italic;
}

span {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}

.profile span a.linkto_edit {
color: #28b4ef;
}


.user-products {
}

.user-products .tabs {
/*margin: 3em 0 1em;*/
text-align: left;
margin-top: 0px;
}

.user-products .tabs .collection_toggle.selected {
color: #28b4ef;
border-bottom: 3px solid #28b4ef;
}

.user-products .tabs .collection_toggle {
display: inline-block;
text-transform: uppercase;
color: #888;
letter-spacing: 2px;
margin: 0 20px;
padding-bottom: 3px;
cursor: pointer;
font-family: "AvenirLTStd-Medium","Helvetica Neue",Arial,Helvetica,sans-serif;
font-size: 16px;
font-style: bold;
}



