// Place all the styles related to the UserOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navigation {
overflow: hidden;
margin-bottom: 0;
padding: 0;
}

.navigation .box {
background-color: #fff;
margin-top: 1px;
padding: 16px;
}

section {
display: block;
}

.navigation ul.nav {
overflow: hidden;
margin: 0;
text-transform: uppercase;
}

.nav {
list-style: none;
}

.navigation ul.nav li.active {
background-color: #f6f6f6;
border: 2px solid #e8e8e8;
border-bottom: none;
}

.navigation ul.nav li {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
font-size: 14px;
height: 44px;
line-height: 48px;
margin: 0;
position: relative;
text-align: center;
width: 16.667%;
border-bottom: 2px solid #e8e8e8;
}

li {
display: list-item;
}

.navigation ul.nav {
text-transform: uppercase;
}

.nav>li>a {
display: block;
}

a {
text-decoration: none;
}


.navigation ul.nav li .badge.blue {
background-color: #28b4ef;
}

.navigation ul.nav li .badge {
display: inline-block;
text-align: center;
position: relative;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: red;
color: #fff;
font-size: 12px;
height: 16px;
line-height: 18px;
padding: 0 1px 0 2px;
right: -2px;
top: -6px;
min-width: 16px;
}

.badge:empty {
display: none;
}

.badge {
display: inline-block;
padding: 2px 4px;
font-size: 15.228px;
font-weight: bold;
line-height: 14px;
color: #fff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #999;
}