<ul class="items">

<% @products.each do |product| %>
	<li class="item" style="display: list-item;">
		<div class="item_box tk-museo-sans-rounded">
		<div class="img_box">
			<%= image_tag product.image.url(:thumb) %>
		</div>
		<h4><%= product.title %></h4>
		<p><%= product.text %></p>
		</div>
	</li>
<% end %>

<% if false %>
<li class="item" style="display: list-item;">
	<div class="item_box tk-museo-sans-rounded">
	<div class="img_box" style="background-image: url(http://www4.images.coolspotters.com/photos/295184/modcloth-zanzibar-dress-in-blue-profile.jpg)">
	</div>
	</div>
</li>
<li class="item" style="display: list-item;">
	<div class="item_box tk-museo-sans-rounded">
	<div class="img_box" style="background-image: url(http://productshots0.modcloth.net/productshots/0118/0397/182ed54821a6e193b9a61f1c33fe80ae.jpg?1344981426)">
	</div>
	</div>
</li>
<% end %>

</ul>