 <div class="col-md-3">
          <section class="filter">
            <div class="scroll-wrap">
              <div class="facet">
                <header>Shop</header>
              </div>

        <% Category.all.each do |category| %>
          <div class="facet">
            <header><%= link_to category.name, category %></header>
            <ul>...</ul>
          </div>
        <% end %>

         <div class="facet">
          <header>Designer</header>
          <ul>...</ul>
        </div>

         <div class="facet">
          <header>Size</header>
          <ul>...</ul>
        </div>

         <div class="facet">
          <header>Price</header>
          <ul>...</ul>
        </div>

        </div>

          </section>
        </div><!--/span-->
        <div class="col-md-9">