<div class='row'>
	<div class='col-md-3'>

		<div class="profile">
			<div class="user_photo">

				<%= image_tag @user.avatar.url(:medium), class: 'profile_image' %>
				<div class="photo_shadow"></div>
		   </div>
		</div>

	</div>

	<div class='col-md-4'>		

		<div class="user_details">
			<div class="user_header">
				<h1 class="tk-museo-sans-rounded username upcase"> My Account </h1>
			<!--		<%= @user.username %>'s Profile</h1> -->
				
		  </div>
		</div>